@{
    ViewData["Title"] = "< Frases Matrix >";
}
<h1>@ViewData["Title"]</h1>

<p>
    ¿Alguna vez has tenido un sueño, que pareciera tan real que no lo puedes distinguir
    de la realidad? Y si no pudieras despertar de ese sueño, ¿cómo sabrías que estás
    soñando? – Trinity
</p>
